*{margin:0;padding:0;}

html { 
  background: url(img/bg.png) repeat; 
}

#main-wrapper { 
	width:100%;
}
#header-wrapper{
    width:100%;
    height:60px;
    border-bottom:solid 1px #ebebeb;
    background:#83cbff;
}
#header-wrapper>h1{
    font-family:helvetica,verdana,sans-serif;
    text-align:center;
    line-height:60px;
    color:#fff;
}
#inner-wrapper{
    width:600px;
    margin:0 auto;
    border:solid 1px #aeaeae;
    border-radius:4px;
    background:#fff;
    margin-top:80px;
}
#inner-wrapper>h3{
    font-family:helvetica,verdana,sans-serif;
    text-align:center;
    color:#aeaeae;
    width:100%;
    height:40px;
    line-height:40px;
    border-bottom:solid 1px #aeaeae;
    font-weight:normal;
}
.trumpify-form{
    width:600px;
    padding:5px 0;
}
.input-label{
    width:200px;
    float:left;
    font-family:helvetica,verdana,sans-serif;
    color:#343434;
    text-align:right;
}
.input-field{
    width:340px;
    float:left;
    margin-left:10px;
    border-radius:2px;
    border:solid 1px #aeaeae;
    height:10px;
    padding:5px;
    background:#ebebeb;
}
.form-row,.result-row{
    width:600px;
    padding:0 20px;
    margin:10px 0;
}
.trumpButton{
    height:30px;
    padding:5px;
    border-radius:2px;
    border:solid 1px #ff0000;
    background:#f28174;
    font-weight:bold;
    color:#343434;
    cursor:pointer;
}
#textArea{
    width:540px;
    font-family:helvetica,verdana,sans-serif;
    color:#757575;
    line-height:16pt;
}

.genButton{
    margin-top:15px;
}


.errorMessage {
	color: red;
	font-size: 14px;
}

#singularError,#pluralError {
	display: none;


}